# Required
manifest_version: 2

# Basic data
name: "TagPro Mod Manager"
description: "Easily use different texturepacks in TagPro"
version: "1.1"

# Content scripts
content_scripts: [
	{
		matches: ["*://*.koalabeast.com/*"]
		include_globs: ["*://tagpro-*.koalabeast.com:????/*"]
		js: ["js/play_screen_script.js"]
	}
]

# Page action
page_action:
	default_icon:
		19: "action_icon_19.png"
		38: "action_icon_38.png"
	default_title: "TagPro Mod Manager"
	default_popup: "popup.html"

# Background script for:
# * page_action showing and hiding
# * storage initialisation
background:
	scripts: ["js/event_page.js"]
	persistant: false

options_page: "options.html"

# Permissions
permissions: [
	"tabs"
	"storage"
]